p{
    color:whitesmoke;
    
}
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url('/images/hu-chen-60XLoOgwkfA-unsplash.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.proverb{
    font-style: italic;
    font-size: 53px;
    font-family: cursive;
    
}
.tag{
    font-style: ;
    font-size: 30px;
}
.translation{
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}
.meaning{
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}